<div class="row" ng-controller="fontController as fontController">
    <div class="col-xs-12 header">
        <h1 class="fairytales">Find</h1><h1 class="stump-closed">Me</h1><h1 class="amelia">A</h1><h1 class="grounday">Font</h1>
    </div>
    <div class="child">
        <div class="col-xs-6">
            <form role="form">
                <div class="radio">
                    <label class="fairytales">
                        <input type="radio" name="font" ng-model="formData.font" value="fairytales" ng-change="changeRadio()">
                            Fairytales
                    </label>
                </div>
                <div class="radio">
                    <label class="stump-closed">
                        <input type="radio" name="font" ng-model="formData.font" value="stump-closed" ng-change="changeRadio()">
                            Stump-Closed
                    </label>
                </div>
                <div class="radio">
                    <label class="amelia">
                        <input type="radio" name="font" ng-model="formData.font" value="amelia" ng-change="changeRadio()">
                        Amelia
                    </label>
                </div>
                <div class="radio">
                    <label class="brixton-lt">
                        <input type="radio" name="font" ng-model="formData.font" value="brixton-lt" ng-change="changeRadio()">
                        Brixton-LT
                    </label>
                </div>
                <div class="radio">
                    <label class="grounday">
                        <input type="radio" name="font" ng-model="formData.font" value="grounday" ng-change="changeRadio()">
                        Grounday
                    </label>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <textarea>{{formData.font}}</textarea>
        </div>
    </div>
</div>